.config/dconf
.config/evolution
.config/freerdp
.config/gnome-initial-setup-done
.config/gnome-session
.config/goa-1.0
.config/gtk-3.0
.config/htop
.config/ibus
.config/pulse
.config/user-dirs.dirs
.config/user-dirs.locale
